<ion-menu side="start">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title style="color: #363636">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="home" slot="start" style="color: aqua"></ion-icon>
        <ion-label style="color: aqua">Início</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start" style="color: aqua"></ion-icon>
        <ion-label style="color: aqua">Perfil</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="chatbubbles" slot="start" style="color: aqua"></ion-icon>
        <ion-label style="color: aqua">Mensagens</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="settings" slot="start" style="color: aqua"></ion-icon>
        <ion-label style="color: aqua">Configurações</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" main>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: #363636"></ion-menu-button>
      </ion-buttons>
      <ion-title style="color: #363636">Mensagens</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header style="color: aqua">
        Recentes
      </ion-list-header>

      <ion-item style="color: #696969">
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <ion-label style="color: #696969">
          <h2 style="color: aqua">Finn</h2>
          <h3 style="color: white">I'm a big deal</h3>
          <p style="color: gray">Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-han.png">
        </ion-avatar>
        <ion-label>
          <h2 style="color: aqua">Han</h2>
          <h3 style="color: white">Look, kid...</h3>
          <p style="color: gray">I've got enough on my plate as it is, and I...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-rey.png">
        </ion-avatar>
        <ion-label>
          <h2 style="color: aqua">Rey</h2>
          <h3 style="color: white">I can handle myself</h3>
          <p style="color: gray">You will remove these restraints and leave...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-luke.png">
        </ion-avatar>
        <ion-label>
          <h2 style="color: aqua">Luke</h2>
          <h3 style="color: white">Your thoughts betray you</h3>
          <p style="color: gray">I feel the good in you, the conflict...</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list style="color: #696969">
      <ion-list-header style="color: aqua">
        Online
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-poe.png">
        </ion-avatar>
        <ion-label>
          <h2 style="color: aqua">Poe</h2>
          <h3 style="color: white">New Ride</h3>
          <p style="color: gray">I just upgraded my X-Wing. Next time...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-ben.png">
        </ion-avatar>
        <ion-label>
          <h2 style="color: aqua">Ben</h2>
          <h3 style="color: white">Move Along</h3>
          <p style="color: gray">These aren't the droids you're looking for...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-leia.png">
        </ion-avatar>
        <ion-label>
          <h2 style="color: aqua">Leia</h2>
          <h3 style="color: white">You're My Only Hope</h3>
          <p style="color: gray">I've placed information vital to the survival...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-yoda.png">
        </ion-avatar>
        <ion-label>
          <h2 style="color: aqua">Yoda</h2>
          <h3 style="color: white">Size matters not</h3>
          <p style="color: gray">Do or do not. There is no try...</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </ion-content>
</div>